{% extends 'students/base/administration_navbar.html' %}
{% comment %} {% extends 'students/base.html' %} {% endcomment %}
{% load crispy_forms_tags %}
{% block content %}
    {% comment %} <h1>{{ title }}</h1>
    
    
    <form method="post" novalidate>
        {% csrf_token %}
        
        <div class="row">
          <div class="col-md-4">{{ form.name|as_crispy_field }}</div>
          <div class="col-md-4">{{ form.national_number|as_crispy_field }}</div>
          <div class="col-md-4">{{ form.date_of_birth|as_crispy_field }}</div>
        </div>
        <div><hr style="border: 1px solid #007bff;"></div>
        <div class="row">
          <div class="col-3">{{ form.age|as_crispy_field }}</div>
          <div class="col-3">{{ form.gender|as_crispy_field }}</div>
          {% comment %} <div class="col-3">{{ form.academic_year|as_crispy_field }}</div> 
          <div class="col-3">{{ form.classroom|as_crispy_field }}</div>
          
          
          <div><hr style="border: 1px solid #007bff;"></div>
      </div>
         <button type="submit">Add</button> deleted
        <div class="row">
          <div>
              <button type="submit" class="btn btn-primary mt-3 my-btn" >حفظ</button>
              
            </div>
        </div>
      </form>     {% endcomment %}
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card border-white rounded-0 shadow">
              <div class="card-header bg-light rounded-top">
                <h4 class="mb-0">edit Student</h4>
              </div>
              <div class="card-body bg-light rounded-bottom">
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                  {% endfor %}
                {% endif %}
                <form method="post" novalidate style="width: 60%;">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.name|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.national_number|as_crispy_field }}
                    <small class="form-text text-muted">
                      Enter National number must be a 14-digit number.
                    </small>
                  </div>
                  <div class="form-group">
                    {{ form.phone_number|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.date_of_birth|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.age|as_crispy_field }}
                    <small class="form-text text-muted">
                      Age must be between 4 and 17 years.
                    </small>
                  </div>
                  <div class="form-group">
                    {{ form.gender|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.classroom|as_crispy_field }}
                  </div>
                  <div class="form-group text-right">
                    {% comment %} <button type="submit" class="btn btn-primary btn-lg">Save</button> {% endcomment %}
                    <button type="submit" class="btn btn-primary mt-3 my-btn" >Save</button>
                    {% comment %} <a href="{% url 'students:edit_student' %}" class="btn btn-secondary btn-lg ml-2">Cancel</a> {% endcomment %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    
{% endblock %}
