{% extends 'students/base/student_affairs_navbar.html' %}
{% load static %}

{% block title %}Student Affairs!{% endblock %}
{% block content %}
   

  
  <h2>Welcome, Student Affairs!</h2>
  <p>This is the home page for student affairs.</p>
<br>


<div class="row justify-content-center">
<div class="col-12 col-md-6 col-lg-3 mb-4">
  <a href="{% url 'students:student_list' %}" class="d-flex flex-column align-items-center justify-content-center {% if request.resolver_match.url_name == 'student_list' %}active{% endif %}">
    <i class="fas fa-users fa-4x text-secondary mb-3"></i>
    <span class="text-center text-uppercase font-weight-bold">Students</span>
  </a>
</div>
<div class="col-12 col-md-6 col-lg-3 mb-4">
  <a href="{% url 'students:add_student' %}" class="d-flex flex-column align-items-center justify-content-center {% if request.resolver_match.url_name == 'add_student' %}active{% endif %}">
    <i class="fas fa-user-plus fa-4x text-success mb-3"></i>
    <span class="text-center text-uppercase font-weight-bold">Add Student</span>
  </a>
</div>
</div>


{% endblock %}

